<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Enter Metric and location to fetch weather data</h2>
<form method="post" action="{% url 'fetch_json_data' %}">{% csrf_token %}
    Metric:<br>
  <input type="text" name="Metric" id="metric">
  <br>
  Location:<br>
  <input type="text" name="Location" id="location">
  <br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>

